$black: #280a04;
$darkest_grey: #3d312e;
$dark_grey: #463b37;
$grey: #6d5b56;
$light_grey: #907b75;
$lightest_grey: #d0bdb8;

$brown: #403D2F;
$light_brown: adjust-color($brown, $lightness: 20%);
$red: #D96459;
$light_red: #F1CBB1;
$green: #4A8C7A;

$light_yellow: #F1E9D5;
$white: #ffffff;