@import "header.scss";
@import "type.scss";
@import "footer.scss";
@import "pygments.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $white;

  &.IndexPage { @import "index_page.scss"; }
  &.SinglePage { @import "single_page.scss"; }
}

.Left {
  float: left;
  text-align: left;
}

.Right {
  float: right;
  text-align: right;
}

.Clear {
  clear: both;
}

#Content {
  width: 800px;
  margin: 0 auto;

  h1 {
    color: $dark_grey;
  }

  .Post {
    margin-bottom: 20px;
    padding-bottom: 20px;

    p {
      margin-bottom: 20px;

      &.PostMeta {
        color: $grey;
        font-size: 16px;
        padding: 10px 0;
      }
    }
  }
}

.Profile {
  padding: 0 30px 0 0;

  > img {
    width: 180px;
  }
}

div.highlight {
  font-size: 15px;

  pre {
    padding: 5px 15px;
    border-left: 3px $lightest_grey solid;
  }

  code {
    font-family: "Source Code Pro", monospace;
  }
}