@import "header.scss";
@import "type.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.Left {
  float: left;
  text-align: left;
}

.Right {
  float: right;
  text-align: right;
}

.Clear {
  clear: both;
}

#Content {
  width: 800px;
  margin: 0 auto;

  h1 {
    color: $red;
  }

  .Post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px $light_red solid;

    p.PostMeta {
      color: $light_brown;
      font-size: 16px;
    }
  }
}