@import "colors.scss";

h1, h2, h3, h4, h5, h6, p {
  color: $dark_grey;
  margin: 0;
  font-family: "Crimson Text", Georgia, Times, serif;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 36px;
  line-height: 46px;
}

p {
  font-size: 1.35em;
  line-height: 1.6em;
}

.SansSerif {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}