@import "colors.scss";

body {
  color: $dark_grey;
  font-family: "Crimson Text", Georgia, Times, serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: $dark_grey;
  margin: 0;
  font-family: "Crimson Text", Georgia, Times, serif;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 40px;
  line-height: 50px;
  padding-top: 20px;
}

h2 {
  font-size: 2em;
  line-height: 42px;
  padding-top: 20px;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

p {
  font-size: 1.35em;
  line-height: 1.6em;
}

li {
  font-size: 1.25em;
  line-height: 1.5em;
}

blockquote {
  p {
    font-size: 1.25em;
    color: adjust-color($dark_grey, $lightness: 10%);
  }
}

.SansSerif {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}