body {
    margin: 0;
    padding: 0;
    background-color: #33333F;
}

#welcome {
    margin-top: 50px;
}

#welcome h1 {
    text-align: center;
    color: #f8f8f8;
    font-family: Georgia, serif;
    text-shadow: 1px 1px 3px #000000;
    font-size: 46px;
    margin-bottom: 0;
}

#welcome h2 {
    text-align: center;
    font-family: 'Lobster', serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 2px #000000;
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
}

#content {
    width: 600px;
    margin: 5px auto;
    background-color: #e2e2e2;
    padding: 5px 15px 5px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
}

#content p {
    text-align: justify;
	color: #333333;
	font-family: 'Molengo', Arial, sans-serif;
	font-size: 18px;
    margin: 15px 0 15px 0;
}

#welcome a {
    color: #000000;
    text-decoration: none;
}

#welcome a:hover {
    color: #55555F;
}

.content_divider {
    border-top: 1px #a2a2a2 solid;
}