/* line 3, ../sass/type.scss */
body {
  color: #333332;
  font-family: "Crimson Text", Georgia, Times, serif;
}

/* line 8, ../sass/type.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #333332;
  margin: 0;
  font-family: "Crimson Text", Georgia, Times, serif;
}

/* line 14, ../sass/type.scss */
a {
  color: #487b7f;
  text-decoration: none;
}
/* line 18, ../sass/type.scss */
a:hover {
  text-decoration: underline;
}

/* line 23, ../sass/type.scss */
h1 {
  font-size: 40px;
  line-height: 50px;
  padding-top: 20px;
}

/* line 29, ../sass/type.scss */
h2 {
  font-size: 2em;
  line-height: 42px;
  padding-top: 20px;
}

/* line 35, ../sass/type.scss */
h3 {
  font-size: 1.7em;
}

/* line 39, ../sass/type.scss */
h4 {
  font-size: 1.4em;
}

/* line 43, ../sass/type.scss */
p {
  font-size: 1.35em;
  line-height: 1.6em;
}

/* line 48, ../sass/type.scss */
li {
  font-size: 1.25em;
  line-height: 1.5em;
}

/* line 54, ../sass/type.scss */
blockquote p {
  font-size: 1.25em;
  color: #4d4d4b;
}

/* line 60, ../sass/type.scss */
.SansSerif {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
